extends layout
block content
  h1= title
  form(id='BookForm', action="/resource/books", method="POST")
    div.form-group
      label.bookAttr(for='name') Book Name
      input#name(type='text', name='name')
    div.form-group
      label.bookAttr(for='year') Book Year
      input#age(type='number', name='year')
    div.form-group
      label.bookAttr(for='author') Book Author
      input#breed(type='text', name='author')
    input(type="submit")
  script.
    document.forms['BookForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle the body
      }).catch((error) => {
        // TODO handle the error
        alert("Save failed " + error);
      });
    })
